<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mirabel Technologies, Inc.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mirabel.MM.styles.css" asp-append-version="true" />
    <link href="~/lib/tabulator/dist/css/tabulator.css" rel="stylesheet" />
</head>
<body>
    <div id="loading" style="display: none;">
        <img id="loading-image" src="~/images/loader.gif" style="width:5%" alt="Loading...">
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark staticnavbar mb-4">
            <div class="container">
                <a class="navbar-brand px-4" asp-area="" asp-controller="Home" asp-action="Index">Magazine Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between px-4">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item px-2">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item dropdown px-2">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Site Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                <a class="dropdown-item" asp-area="" asp-controller="UserDetails" asp-action="Index">Screen 1</a>
                                <a class="dropdown-item" asp-area="" asp-controller="UserDetails" asp-action="Index">Screen 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">New Added Screen</a>
                            </div>
                        </li>

                        <li class="nav-item px-2">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="loader" class="loader" style="display: none;position:fixed;top:50%;left:50%; transform :translate(translate(-50%, -50%))">
        <img src="~/images/loader.gif" alt="Loading..." width="50" />
    </div>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/eeb4938d34.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/tabulator/dist/js/tabulator.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
